.Navbar{
    background-color: #333;
    padding: 1rem;

    /* it converts in column  */
    display: flex; 

    /* did gap in home and newblog  */
    gap: 20px;

    border-radius: 25px;
}

.Navbar a{
    /* did home and newblog color white  */
    color: white;

    text-decoration: none;

    /* position melako  */
    padding: 25px 30px;

    /* home and newblog  */
    border-radius: 5px;

    transition: background-color 0.3s;
}

.Navbar a:hover{
    background-color: #555;
}

